@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    display: none;
}

#main-nav{
    background: transparent;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
section{
    height: 100vh;
}

.width-limit{
    max-width: 990px;
}
#home{
    background: url("/static/images/perfect3.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.custom-col{
    margin-top: 20%;
}
i{
    color: black;
}
img{
    filter: grayscale(1);
}
.img-hero{
    height: auto;
}
.spacing{
    margin-top: 10%;
}
.green-box{
    margin-top: 7px;
    width: 12px;
    height: 12px;
    background-color: green;
    margin-left: 15px;
}
.level-container{
    display: flex;
    margin-left: 50px;

}
.between{
    background-color: grey;
}
.top{
    width: 600px;
    height: 100px;
    background-color: blue;
}
.blockx{
    display: inline-flex;
    margin-left: 50px;
}

.orange-box{
    margin-top: 7px;
    width: 12px;
    height: 12px;
    background-color: orange;
    margin-left: 15px;
}
.gray-box{
    margin-top: 7px;
    width: 12px;
    height: 12px;
    background-color: gray;
    margin-left: 15px;
}

.card-icon{
    font-size: 1.4rem;
}
.block{
    height: 0.3rem;
    width: 8rem;
    background-color: #000000;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2rem;
    opacity: 0.8;
}

#chatbot {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body {*/
/*    font-family: 'Poppins', sans-serif;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    min-height: 100vh;*/
/*}*/

.wrapper {
    width: 370px;
}

.wrapper .title {
    background: #007bff;
    color: white;
    line-height: 2.5;
    border-radius: 5px 5px 0 0;
    text-align: center;
    font-size: 20px;
}

.wrapper .box {
    border: 1px solid #efefef;
    padding: 10px 15px;
    min-height: 400px;
    max-height: 400px;
}

.wrapper .box .item {
    display: flex;
    float: left;
    margin: 10px 0;
}

.wrapper .box .item .icon {
    background: #007bff;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.wrapper .box .item .msg {
    background: #007bff;
    color: white;
    border-radius: 10px;
    width: 150px;
    margin-left: 10px;
}

.wrapper .box .item .msg p {
    padding: 10px;
}

.wrapper .box .item.right {
    float: right;
}

.wrapper .box .item.right .msg {
    background: #efefef;
    color: #333;
}

.wrapper .typing-area {
    width: 100%;
    background: #efefef;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.wrapper .typing-area .input-field {
    width: 100%;
    position: relative;
}

.wrapper .typing-area .input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
    padding-right: 70px;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s all ease;
}

.wrapper .typing-area .input-field input:focus {
    border-color: #007bff;
}

.wrapper .typing-area .input-field button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: transparent;
    border: 1px solid #007bff;
    padding: 5px 10px;
    border-radius: 3px;
    color: #007bff;
    outline: none;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s all ease;
}

.wrapper .typing-area .input-field button:hover {
    background: #007bff;
    color: white;
}

.wrapper .typing-area .input-field input:valid ~ button {
    opacity: 1;
    pointer-events: auto;
}
#chatArea{
	overflow-y: scroll;
	background-color: grey;
}

.wrapper{
position: fixed;
    bottom: 0;
}